body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
 
}

body {
    background-color: #40a63d1a;
    margin: 0px;
}

/* Write all your CSS here! */
.logo{
    display: flex;
    background: #f8f9fa;

}
.logo img{
    height: 60px;
}
.logo p{
  
  color: red;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;

}
.flag-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
   
}
.flag-img > img{
    height: 40px;
}

nav{
background: #494949;
display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;

}
nav li{
    color: #9e9e9e;
    display: inline-block;
    padding: 8px;;
    margin-top: 5px;
    font-size: 12px;
    cursor: pointer;
}
.container{
    width: 100%;
}
button{
    background: #2da745;
    color: white;
    border: 1px solid #2da745;
}
.card-img-top{
    height: 250px;
    width: 500px;
    background-size: cover;
    background-position: center;
}
.card{
    height: 90%;
    width: 400px;
  
}
.main-div{
   
    width: 100%;
    height: 100%;
   
}
i, span {
    color: #2da745;
}.card-group{
    height: 900%;
    width: 550px;
}
.card-body h4{
    font-weight: bold;
}
.flower-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

